# This is a basic workflow that is manually triggered

name: Run jamf2snipe

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  schedule:
    # Tidspunktene er i GMT
    - cron: "24 */6 * * 1-5"

env:
  RUNNER_TOOL_CACHE: "/Users/iktadmin/Library/ToolCache"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  jamf2snipe:
    # The type of runner that the job will run on
    runs-on:
      - self-hosted
    concurrency:
      group: jamf2snipe
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install requirements
        run: |
          pip install -r requirements.txt
      
      - name: Populate settings.conf
        run: |
          cat << EOF > settings.conf
          [jamf]
          url = ${{ vars.JAMF_URL }}
          client_id = ${{ secrets.JAMF_CLIENT_ID }}
          client_secret = ${{ secrets.JAMF_CLIENT_SECRET }}

          [snipe-it]
          url = ${{ vars.SNIPE_URL }}
          apikey = ${{ secrets.SNIPE_APIKEY }}
          manufacturer_id = ${{ vars.manufacturer_id }}
          defaultStatus = ${{ vars.DEFAULT_STATUS}}
          computer_model_category_id = ${{ vars.COMPUTER_MODEL_CATEGORY }}
          mobile_model_category_id = ${{ vars.MOBILE_MODEL_CATEGORY }}
          computer_custom_fieldset_id = ${{ vars.COMPUTER_FIELDSET }}
          mobile_custom_fieldset_id = ${{ vars.MOBILE_FIELDSET }}

          EOF
          echo "${{ vars.MAPPINGS }}" >> settings.conf

      - name: Run jamf2snipe
        run: |
          python jamf2snipe ${{ vars.RUN_OPTIONS }}
      
      
      
